#smarty-localization-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#smarty-localization-popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#smarty-localization-popup-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#smarty-localization-popup-content h2 img {
    margin-right: 10px;
}

#smarty-localization-popup-content h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

#smarty-localization-popup-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

#smarty-localization-popup-content ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

#smarty-localization-popup-content button {
    padding: 10px 20px;
    border: none;
    background: #0073aa;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

#smarty-localization-popup-content button:hover {
    background: #005f
}